*{
    font-family: 'Courier New', Courier, monospace;
    font-size:25px;
    color:red;
}
        .font-fredoka {
            font-family: 'Fredoka One', sans-serif;
        }

        .font-epilogue {
            font-family: 'Epilogue', sans-serif;
        }
